@use "./utils/vars" as *;
@import "./components/logo";
@import "./components/header";
@import "./components/socialmedia";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/index";
@import "./components/modal";
@import "./components/mobilemenu";

.container {
  width: $mobile-size;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: $tablet-size) {
    width: $tablet-size;
  }
  @media screen and (min-width: $desktop-size) {
    width: $desktop-size;
  }
}
/* .container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
} */

.toggle {
  display: none;
}

.ondesktop {
  display: none;
  @media screen and (min-width: $desktop-size) {
    display: block;
  }
}
.notonmobile {
  display: none;
  @media screen and (min-width: $tablet-size) {
    display: block;
  }
}
