.topheader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-grey);

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $tablet-size) {
      justify-content: left;
    }
    @media screen and (min-width: $desktop-size) {
    }
  }

  &__nav {
    margin-right: auto;
    ul li:not(:last-child) {
      margin-right: 46px;
    }
    @media screen and (min-width: $tablet-size) {
      margin-left: 83px;
    }
    @media screen and (min-width: $desktop-size) {
      margin-left: 93px;
    }
  }

  &__navAnchor {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: inherit;
    display: block;
    transition-property: color;
    transition-duration: $animationTime;
    transition-timing-function: $aimationTimingFunction;

    &:hover,
    &:focus {
      color: var(--brand-blue);
    }

    &--current {
      color: var(--brand-blue);
      &::before {
        content: "";
        position: absolute;
        background-color: var(--brand-blue);
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
      }
    }

    &--Contacts {
      color: var(--brand-grey);

      @media screen and (min-width: $tablet-size) {
        margin-right: 0;
        padding: 0;
      }
      @media screen and (min-width: $desktop-size) {
        padding: 32px 0;
        display: inline;
      }
    }
    &--ContactsMargin {
      margin-right: 50px;
      @media screen and (min-width: $tablet-size) {
        margin-right: 0;
        margin-bottom: 10px;
      }
      @media screen and (min-width: $desktop-size) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }

  &__button {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover,
    &:focus {
      fill: var(--brand-blue);
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__contactIcons {
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
  }
}
