.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-blue);
  /*  margin-right: 93px; */
  padding: 15px 0;
  @media screen and (min-width: $tablet-size) {
    margin-right: 83px;
  }
  @media screen and (min-width: $desktop-size) {
    margin-right: 93px;
  }

  &--black {
    color: var(--black);
  }

  &--white {
    color: var(--brand-white);
  }
}
