:root {
  --brand-blue: #2196f3;
  --brand-white: #ffffff;
  --brand-grey: #757575;
  --brand-grey2: #212121;
  --black: #000000;
  --brand-background: #2f303a;
  --button-white: #f5f4fa;
  --footer-grey: rgba(255, 255, 255, 0.6);
  --border-grey: #ececec;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --customer-logo: #afb1b8;
  --socialmedia-footer: rgba(255, 255, 255, 0.1);
}
